// bower:scss
// endbower

@import "../../bower_components/material-design-lite/src/color-definitions";

$app-color: $palette-teal-500;
$app-accent: $palette-cyan-A200;
$app-color-sec: $palette-teal-900;
$app-color-uq: unquote("rgb(#{$app-color})");
$app-accent-uq: unquote("rgb(#{$app-accent})");

$color-primary-dark: $app-color-sec;
$color-primary: $app-color;
$color-accent: $app-accent;
$trim-color-classes: true;

// @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import "../../node_modules/swiper/dist/css/swiper";
@import "../../bower_components/material-design-lite/src/material-design-lite.scss";

button, input {
    outline: none;

}

body {
  background: #fafbfc;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #333;
}

.ide{

  background: #34495e;
  display: flex;

  .sidebar{
    flex: 1;
    background: #2c3e50;
  }

  .code-editor{
    flex: 3;
    background: #2c3e50;
  }

  .code-runner{
    flex: 2;
    background: #2c3e50;
  }

}

#foo{
  position: absolute;
  height: 100%;
  width: 100%;
}

.app{
  height: 100%;
  width: 100%;
  > div{
    height: 100%;
    width: 100%;
  }
}

.code-runner, .sidebar, .code-editor{
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;

  &__header{
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background: rgba(0,0,0,0.4);
    color: #f0f0f0;
  }

  &__content{
    position: relative;
    overflow: auto;
    flex: 1;
  }

  &__footer{
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
    background: rgba(0,0,0,0.4);
    font-size: 12px;
    color: #f0f0f0;
  }
}

.code-editor__content{
    > .list > .block-drop-zone{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
    }
}

$w: 48px;
.user-profile{
    display: flex;
    align-items: center;

    &__email,
    &__name{
        margin: 0px;
    }

    &__image-container{
        width: $w + 4px;
        height: $w + 4px;
    }

    &__image{
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: $w;
        width: $w;
        height: $w;
    }
}
.module-search{
    background: #ecf0f1;
    &__search-bar{
        padding: 0px 10px;
        background: #fff;
    }

    &__module-list{

    }
}

.home-page{
    &__add-fab{
        position: absolute;
        bottom: 20px;
        right: 40px;
    }
}

.template-card{
    width: auto;
    height: 360px;
    cursor: pointer;
    border: 1px solid #dadada;

    &:active{
        transform: scale(0.95);
    }

    .mdl-card__title-text{
        border: 1px solid #dadada;
        padding: 5px 10px;
        background: #fff;
        z-index: 10000;
        margin: -5px;
        margin-bottom: -17px;
        border-bottom: 0px;
    }

    &__text{
        border-top: 1px solid #dadada;
        background: #fff;
        z-index: 1000;
        width: auto;
    }

    &--coming-soon{

        position: relative;
        opacity: 0.82;

        &::after{
            background: rgba(255, 255, 255, 0.82);
            content: ' ';
            position: absolute;
            text-align: center;
            display: block;
            padding: 10px;
            height: 100%;
            width: 100%;
            left: 0px;
            top: 0px;
        }

    }
}

.padded-content{
    padding: 0px 40px;
}
.create-project-page{

}

.code-runner{
  &__output{
    position: absolute;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    border: 0;
    color: #fff;
  }

  &__code{
      padding-left: 10px;
      color: #fff;
  }
}

.sidebar{
  .block-list{
    padding: 0px 10px;
    list-style: none;
    .block{
      margin: 10px 0px;
    }
  }
}

.block{
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  position: relative;
  font-size: 14px;

  &__part{

      border: 1px solid rgba(0, 0, 0, 0.2);
      position: relative;
      padding: 2px 5px;

      .block--flow > * > &{
          background: #f1c40f;
      }

      .block--value > * > &{
          background: #2ecc71;
      }

      .block--decl > * > &{
          background: #3498db;
      }

      &--horizontal-expansion{
          white-space: nowrap;
          > *{
              vertical-align: middle;
          }
      }

      &:empty{
          height: 5px;
      }
  }

  &__neck{
      position: relative;
      display: flex;
  }

  &__neck-jewellary{
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      margin: -1px 0px;
      content: ' ';
      width: 5px;
      left: 0px;
      z-index: 100;
      .block--flow > * > .block__neck > &{
          background: #f1c40f;
      }
      .block--decl > * > .block__neck > &{
          background: #3498db;
      }
  }


  &__neck-children-container{
      flex: 1;
      > .list > .block-drop-zone{
          min-height: 60px;
          width:100%;
      }
  }

}

.block-drop-zone{
    display: inline-block;
    position: relative;
}

.field{
    background: #ecf0f1;
    min-height: 20px;
    min-width: 20px;
}

.expandable-field{
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ecf0f1;
  position: relative;
  min-height: 18px;
  min-width: 20px;

  &--identifier{
      background: #e67e22;
  }

  &--literal{
      background: #fff;
  }

  &__hidden-field,
  &__input{
      font-family: 'Source Code Pro', monospace ;
      background: transparent;
      box-sizing: border-box;
      white-space: nowrap;
      word-wrap: normal;
      min-height: 18px;
      font-size: 14px;
      padding: 2px 4px;
      border: 0;
  }


  &__hidden-field{
      visibility: collapse;
      padding-right: 20px;
  }

  &__hidden-field:empty::before{
      color: transparent;
      content: 'S';
  }

  &__input{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0px;
      top: 0px;
  }
}

.parenthesis{
    padding: 0px 5px;
    &::before{
        content: '(';
    }
    &::after{
        content: ')';
    }
}

.print-block, .def-block, .call-block{
    &__arguments{
        display: inline-block;
    }
}

.text{
  display: inline-block;
  margin: 0px 5px;
  &:first-child{
     margin-left: 0px;
  }
}

.list{
  &:empty{
      min-height: 80px;
  }
}
