// bower:scss
// endbower

@import "../../bower_components/material-design-lite/src/color-definitions";

$app-color: $palette-teal-500;
$app-accent: $palette-cyan-A200;
$app-color-sec: $palette-teal-900;
$app-color-uq: unquote("rgb(#{$app-color})");
$app-accent-uq: unquote("rgb(#{$app-accent})");

$color-primary-dark: $app-color-sec;
$color-primary: $app-color;
$color-accent: $app-accent;
$trim-color-classes: true;

// @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import "../../node_modules/swiper/dist/css/swiper";
@import "../../bower_components/material-design-lite/src/material-design-lite.scss";

button, input {
    outline: none;

}

body {
  background: #f0f0f0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #333;
}

.ide{
  display: flex;
  .sidebar{
    flex: 1;
    background: #d8d8d8;
  }
  .code-editor{
    flex: 3;
    background: #f0f0f0;
  }
  .code-runner{
    flex: 2;
  }
}

#foo{
  position: absolute;
  height: 100%;
  width: 100%;
}

.app{
  height: 100%;
  width: 100%;
  > div{
    height: 100%;
    width: 100%;
  }
}

.code-runner, .sidebar, .code-editor{
  display: flex;
  flex-direction: column;
  background: #121212;
  font-family: 'Source Code Pro', monospace ;
  
  &__header{
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background: rgba(0,0,0,0.4);
    color: #f0f0f0;
  }

  &__content{
    position: relative;
    overflow: auto;
    flex: 1;
  }

  &__footer{
    padding: 0px 5px;
    height: 24px;
    line-height: 24px;
    background: rgba(0,0,0,0.4);
    font-size: 12px;
    color: #f0f0f0;
  }
}

.code-runner{
  &__output{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.sidebar{
  .block-list{
    padding: 0px 10px;
    list-style: none;
    > div{
      margin: 10px 0px;
    }
  }
}

.script-block{
  border-left: 4px solid teal;
  border-right: 0;
  display: inline-flex;
  font-family: 'Source Code Pro', monospace !important;
  
  &__children{
    min-height: 48px;
    padding: 5px;
    display: flex;
    padding-top: 0px;
  }
  
  &__header{
    padding: 5px;
  }
  .script-block &{
    display: flex;
  }
}

.control-block{
  border-left-color: unquote("rgb(#{$palette-yellow-700})");
  background: unquote("rgb(#{$palette-yellow-400})");
}

.condition-block{
  padding: 5px;
  background: unquote("rgb(#{$palette-green-400})");
  display: flex;
  align-items: center;
  &__equation-container{
    flex: 1;
    min-width: 28px;   
    height: 16px;
    margin: 0px 5px;
    background: rgba(0,0,0,0.4);
  }

  &__title{
    padding: 0px 5px;
  }

}

.event-block{
  display: block;
  &__title{
    margin: 0px;
  }
}

.if-block{
  min-width: 200px;
  flex-direction: column;
  
  .script-block__children{
    flex: 1;
  }

  &__condition-container {
    display: flex;
    align-items: center;
  }
  &__title{
    padding-right: 5px;
  }
}

.value-block{
  padding: 5px;
  background: unquote("rgb(#{$palette-teal-200})");
  border-left: 4px solid unquote("rgb(#{$palette-teal-600})");
  display: flex;
  align-items: center;
}

.block{
  .mdl-textfield__input{
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
  }

  .mdl-textfield{
    flex: 1;
    width: auto;
    margin-top: -16px;
    margin-bottom: -16px;
  }
  
  .block-text{
    font-size: 14px;
    padding-right: 5px;
  }
  
  .block-input-container{
    display: inline-flex;
    flex: 1;
  }
}

.block-drop-zone{
  align-items: inherit;
  border: 1px ridge rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  flex: 1;

  &--all{
    background: transparent;
  }

  &--value{
    align-self: stretch;
    background: unquote("rgb(#{$palette-teal-600})");
  }
  
  &--script{
    display: block;
    flex-wrap: wrap;
  }

  &--variable{

  }

}
